<!--Auhtor: Amritpal Singh-->

<%- include('_layouts/head'); -%>
    <%- include('_layouts/header'); -%>
        <%- include('_layouts/homenav'); -%>
            <main class="orderDelete">
                <section style="text-align: center;">
                    <div class="formData">
                        <%= message %>
                    </div>
                </section>
            </main>

            <%- include('_layouts/footer'); -%>